---
layout: default
title: Imprint
noindex: true
---
{% include svgs/lines-first-right.html %}
{% include svgs/lines-first-left.html gradient_id="paint0_linear_imprint" %}

<header class="header">
  <div class="container">
    <nav aria-label="Page navigation">
      <ul>
        <li><a href="/" title="Go to homepage">🏠 Home</a></li>
        <li><a href="#impressum" title="Jump to Imprint section">💼 Imprint</a></li>
        <li><a href="#cookie-notice" title="Jump to Cookie Notice">🍪 Cookie Notice</a></li>
        <li><a href="#disclaimer" title="Jump to Disclaimer">🧑‍⚖️ Disclaimer</a></li>
      </ul>
    </nav>
  </div>
</header>

<main id="main-content">
<section class="section" id="impressum">
  <div class="container">
    <h2 class="section__label">💼 Imprint & Contact</h2>

    <div class="section__text">
      <p>🇩🇪 Angaben gemäß § 5 TMG sowie verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</p>
      <p>🇪🇺 Information in accordance with Section 5 TMG and responsible for content pursuant to Section 55 (2) RStV</p>
      <p>&nbsp;</p>
      <p>
        Volker<span style="display:none;" aria-hidden="true">-ioniate-</span> Otto<br>
        Glas<span style="display:none;" aria-hidden="true">straßen</span>hütter <span style="display:none;pointer-events: none;" aria-hidden="true">please-no-post</span>Kirchen<span style="display:none;" aria-hidden="true">str</span>weg 25<br>
        D-<span style="display:none;" aria-hidden="true">241-</span>22851<span style="display:none;pointer-events: none;" aria-hidden="true">32</span> Norder<span style="display:none;" aria-hidden="true">bot</span>stedt<br>
      </p>
    </div>

    {% include hashtags.html set="imprint_contact" %}

    <nav class="social-links">
      <ul>
        <li>📞 Phone: +49<span style="display:none;" aria-hidden="true">-spam-</span> / 157<span style="display:none;" aria-hidden="true">000</span> 75<span style="display:none;pointer-events: none;" aria-hidden="true">22813</span>2 121<span style="display:none;" aria-hidden="true">-no-</span> 65</li>
        <li><a href="#" onclick="location.href='mai'+'lto:'+'adm'+'in@'+'volk'+'er'+'otto'+'.net';return false;" aria-label="Send email to admin@volkerotto.net"><img src="/assets/img/email.png" alt="" width="21" height="21" loading="lazy"> admin&#64;volker<span style="display:none;pointer-events: none;" aria-hidden="true">no-here-</span>otto<span style="display:none;" aria-hidden="true">.spam</span>.net</a></li>
      </ul>
    </nav>

  </div>
</section>

<section class="section" id="cookie-notice">
  <div class="container">
    <h2 class="section__label">🍪 Cookie Notice</h2>

    <div class="section__text">
      <p>No data is stored in cookies - furthermore, I do not use any external tools or tracking services. Unless you send me a
          message via email or contact me through social media, I will never know that you have visited my website. ✌️</p>
    </div>

    {% include hashtags.html set="cookie" %}


  </div>
</section>

<section class="section" id="disclaimer">
  <div class="container">
    <h2 class="section__label">🧑‍⚖️ Disclaimer</h2>

    <div class="section__text">
      <p><strong>Liability for Content</strong></p>
      <p>As a service provider, we are responsible for our own content on these pages in accordance with general laws pursuant to Section 7 (1) TMG. However, according to Sections 8 to 10 TMG, we as service providers are not obligated to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under general laws remain unaffected by this. However, liability in this regard is only possible from the time of knowledge of a specific legal violation. If we become aware of any such legal violations, we will remove the content immediately.</p>
      <p class="pb-2"><strong>Liability for Links</strong></p>
      <p>Our website contains links to external third-party websites over which we have no influence. Therefore, we cannot assume any liability for such external content. The respective provider or operator of the linked pages is always responsible for their content. The linked pages were checked for possible legal violations at the time of linking. No illegal content was recognizable at the time of linking. However, permanent monitoring of the linked pages' content is not reasonable without concrete indications of a legal violation. If we become aware of any legal violations, we will remove such links immediately.</p>
      <p class="pb-2"><strong>Copyright</strong></p>
      <p>The content and works created by the site operators on these pages are subject to German copyright law. Reproduction, editing, distribution, and any kind of exploitation outside the limits of copyright law require the written consent of the respective author or creator. Downloads and copies of this page are only permitted for private, non-commercial use. Insofar as the content on this site was not created by the operator, third-party copyrights are respected. In particular, third-party content is marked as such. If you still become aware of a copyright infringement, please provide us with appropriate notice. If we become aware of any legal violations, we will remove such content immediately.</p>
    </div>

    {% include hashtags.html set="disclaimer" %}


  </div>
</section>
</main>
