---
title: Web Architect, Hamburg
layout: default
---
<div class="outer bg--blue" style="background-image:url(/assets/img/cover/cover_big_me.jpg);" id="hello" role="banner">
  <div class="outer--overlay"></div>
  <div class="container" itemscope itemtype="http://schema.org/Person">
    <div class="col-70 text-align--center">
      <h1 class="hero animated fadeInDown" itemprop="name">Volker Otto</h1>
      <h2 class="h3 subheader animated fadeInDown" itemprop="jobTitle">Web Architect, Hamburg</h2>
    </div>
    <div class="col-60 margin--m--bottom animated fadeInDown">
      <hr>
      <p class="lead" itemprop="description">Freelancer and consultant around the web. Creator of <a href="https://github.com/{{site.me.github}}/reddix">reddix</a> - a reddit chrome extension, <a href="https://github.com/{{site.me.github}}/Br4ckets-Theme">Br4ckets</a> - a Sublime Text color scheme. See who <a href="/clients">worked with me</a>.</p>
    </div>
  </div>
</div>

<div class="outer">
  <div class="container">
    <div class="col-75">
    {% for post in site.posts limit:1 %}
      <article class="post">
        <h3 class="title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <p class="excerpt">{{ post.excerpt }}</p>
        <div class="meta">
          <div class="date">{{ post.date | date_to_string }}</div>
          {% if post.tags %}
          <ul class="tags">
          {% for tag in post.tags %}
            <li><a href="{{ site.url }}/{{ tag }}">{{ tag }}</a></li>
          {% endfor %}
          </ul>
          {% endif %}
        </div>
      </article>
    {% endfor %}
    </div>
  </div>
</div>
