---
title: Clients
lead: A selection of clients I had the chance to work with.
displaytag: clients
cover: cover_big_mountain.jpg
---
{% include header.html %}

<div class="outer bg--blue {% if page.cover-class %}{{ page.cover-class }}{% endif%}" {% if page.cover %}style="background-image:url(/assets/img/cover/{{ page.cover }});"{% endif %}>
  <div class="outer--overlay"></div>
  <div class="container">
    <div class="col-70 margin--m--bottom">
      <h1 class="hero">{{ page.title }}</h1>
      <p class="lead subheader">{{ page.lead }}</p>
    </div>
  </div>
</div>

<div class="outer">
  <figure class="container clients">

    <!-- <div class="col-30">
      <a class="client" href="" title="Pepper hill">
        <img src="/assets/img/clients/pepperhill.jpg" alt="">
      </a>
    </div> -->

    <div class="col-30">
      <a class="client" href="/2014/01/24/gofreaks/" title="goFreaks.eu">
        <img src="/assets/img/clients/gofreaks.jpg" alt="">
      </a>
    </div>
    <div class="col-30">
      <a class="client" href="http://marry-marry.me" title="Marry-marry.me">
        <img src="/assets/img/clients/marry.jpg" alt="">
      </a>
    </div>
    <div class="col-30">
      <a class="client" href="http://kreativmarkt.de" title="Kreativmarkt">
        <img src="/assets/img/clients/kreativmarkt.jpg" alt="">
      </a>
    </div>
    <div class="col-30">
      <a class="client" href="http://schokoladenseite.net" title="Schokoladenseite.net">
        <img src="/assets/img/clients/schokoladenseite.jpg" alt="">
      </a>
    </div>

    <div class="col-30">
      <a class="client" href="http://schmitz-zwecker.de/" title="Schmitz&amp;Zwecker">
        <img src="/assets/img/clients/schmitz.jpg" alt="">
      </a>
    </div>
    <div class="col-30">
      <div class="client" title="iOmiqs Framework">
        <img src="/assets/img/clients/iomiqs.jpg" alt="">
      </div>
    </div>
    <div class="col-30">
      <a class="client" href="http://swallows-project.com" title="Swallows Project.Design">
        <img src="/assets/img/clients/swallows.jpg" alt="">
      </a>
    </div>
  </figure>
</div>

{% include social_footer.html %}
{% include footer.html %}
