  <a href="#top" class="backToTop"></a>

  <footer role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-100">
          <a href="/" class="brand">
            {% include logo.svg %}
          </a>
          <aside role="complementary">
            <p>
              I try to make the web a better place.
            </p>

            <ul>
              <li><a href="{{ site.url }}">About</a></li>
              <!-- <li><a href="{{ site.url }}/work">Work</a></li> -->
              <li><a href="{{ site.url }}/blog">Blog</a></li>
              <li><a href="mailto:{{ site.me.email }}">Contact</a></li>
              <li><a href="{{ site.url }}/imprint">Imprint</a></li>
            </ul>

            <div class="social">
              <a href="mailto:{{site.me.email}}"><i class="fa fa-envelope"></i></a>
              <a href="https://www.facebook.com/{{site.me.facebook}}"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/{{site.me.twitter}}"><i class="fa fa-twitter"></i></a>
              <a href="https://github.com/{{site.me.github}}"><i class="fa fa-github"></i></a>
              <a href="http://linkedin.com/profile/view?id={{site.me.linkedin}}"><i class="fa fa-linkedin"></i></a>
            </div><!-- .social -->

            <p class="copyright">Copyright &copy; 2014-2021 Volker Otto</p>
          </aside>
        </div>
      </div>

    </div><!--.container-->
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

  <script src="{{ site.url }}/assets/js/fix.js"></script>
  <script src="{{ site.url }}/assets/js/min/main-min.js"></script>

  <!-- Google Analytics -->
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create', 'UA-11611534-7', 'volkerotto.net');
      ga('set', 'anonymizeIp', true);
      ga('send','pageview');
  </script>

</body>
</html>
