<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="robots" content="index,follow" />

  <title>{{ page.title }} | {{ site.name }}</title>

{% if page.excerpt %}
  <meta name="description" content="{{page.excerpt}}" />
{% else %}
  <meta name="description" content="{{site.description}}" />
{% endif %}

{% if page.keywords %}
  <meta name="keywords" content="{{page.keywords}}" />
{% else %}
  <meta name="keywords" content="{{site.keywords}}" />
{% endif %}

  <link rel="canonical" href="{{ site.url }}{{ page.url | remove:'index.html'}}" />
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.min.css">
  <!--[if lt IE 9]>
  <script src="{{ site.url }}/assets/js/vendor/html5shiv.js"></script>
  <![endif]-->

  <!--

  Hey fellow devs,
  have a nice day!

  - Volker Otto

                          oooo  oooo                                              .       .
                        `888  `888                                            .o8     .o8
  oooo    ooo  .ooooo.   888   888  oooo   .ooooo.  oooo d8b       .ooooo.  .o888oo .o888oo  .ooooo.
   `88.  .8'  d88' `88b  888   888 .8P'   d88' `88b `888""8P      d88' `88b   888     888   d88' `88b
    `88..8'   888   888  888   888888.    888ooo888  888          888   888   888     888   888   888
     `888'    888   888  888   888 `88b.  888    .o  888          888   888   888 .   888 . 888   888
      `8'     `Y8bod8P' o888o o888o o888o `Y8bod8P' d888b         `Y8bod8P'   "888"   "888" `Y8bod8P'

  -->
</head>

<body>

  <div class="nav--toggle"><i class="fa fa-bars"></i></div>

  {% include nav.html %}

  <div class="layout is--pushed-up">
