<body class=" ">

<header>
  <div class="container">
    <a href="/" class="brand">
      {% include logo.svg %}
      <span class="slogan"><span>volker</span>otto</span>
    </a>
    <nav role="navigation">
      <ul>
        <li><a href="{{ site.url }}" class="active">About</a></li>
        <!-- <li><a href="{{ site.url }}/work">Work</a></li> -->
        <li><a href="{{ site.url }}/blog">Blog</a></li>
        <li><a href="mailto:{{ site.me.email }}">Contact</a></li>
      </ul>

    </nav>
  </div><!--.container-->
</header>
