<body class="{{ page.title | slugify }}">

<header>
  <div class="container">
    <a href="/" class="brand">
      {% include logo.svg %}
      <span class="slogan"><span>volker</span>otto</span>
    </a>

    {% assign current = page.url | downcase | split: '/' %}

    <nav role="navigation">
      <ul>
        <li><a href="{{ site.url }}" {% if current[1] != 'blog' %}class="active"{% endif %}>About</a></li>
        <li><a href="{{ site.url }}/blog" {% if current[1] == 'blog' %}class="active"{% endif %}>Blog</a></li>
        <li><a href="mailto:{{ site.me.email }}">Contact</a></li>
      </ul>

    </nav>
  </div><!--.container-->
</header>
