<div class="outer page-navigation bg--blue {% if page.previous.cover-class %}{{ page.previous.cover-class }}{% else if page.next.cover-class %}{{ page.next.cover-class }}{% endif %}"
{% if page.previous.url %}
  {% if page.previous.cover %} style="background-image:url(/assets/img/cover/{{ page.previous.cover }});"{% endif %}
{% else if page.next.url %}
  {% if page.next.cover %} style="background-image:url(/assets/img/cover/{{ page.next.cover }});"{% endif %}
{% endif %}
>
  <div class="outer--overlay"></div>
  <article class="container">
    <div class="col-75 margin--m">
      <h6>Read this next</h6>
      {% if page.previous.url %}
          <p class="h3 no-margin"><a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">{{page.previous.title}}</a></p>
          <p class="text-align--center">{{page.previous.excerpt}}</p>
      {% else if page.next.url %}
        <p class="h3 no-margin"><a href="{{page.next.url}}" title="Next Post:{{page.next.title}}">{{page.next.title}}</a></p>
        <p class="text-align--center">{{page.next.excerpt}}</p>
      {% endif %}
    </div>
  </article>

  {% include social_footer_small.html %}

</div>
