<div class="outer">
  <footer class="container">
    <div class="col-75">
      <p>
        Find me on <a href="https://plus.google.com/{{site.me.googleplus}}/posts">Google+</a>,
        <a href="https://www.facebook.com/{{site.me.facebook}}">Facebook</a>,
        <a href="https://twitter.com/{{site.me.twitter}}">Twitter</a> or
        <a href="http://linkedin.com/profile/view?id={{site.me.linkedin}}">LinkedIn</a>. View code and projects on
        <a href="https://github.com/{{site.me.github}}">github</a>. Maybe draft me on
        <a href="http://dribbble.com/{{site.me.dribbble}}">dribbble</a>? Stuff I saved on the web to
        <a href="https://pinboard.in/u:{{site.me.pinboard}}">pinboard</a>.
        </p>
    </div>
  </footer>
</div>
