<div class="outer">
  <footer class="container" role="contentinfo">
    <div class="col-75">
      <p>
        I'm a Web Architect from Hamburg, Germany. You can find me on <a href="https://plus.google.com/{{site.me.googleplus}}/posts">Google+</a>,
        <a href="https://www.facebook.com/{{site.me.facebook}}">Facebook</a>,
        <a href="https://twitter.com/{{site.me.twitter}}">Twitter</a> or
        <a href="http://linkedin.com/profile/view?id={{site.me.linkedin}}">LinkedIn</a>. View code and projects on
        <a href="https://github.com/{{site.me.github}}">github</a>. Need help on a project? You can <a href="mailto:{{site.me.email}}">hire me!</a>
        </p>
    </div>
  </footer>
</div>
