---
title: About
layout: default
---
<div class="container bg--blue">
  <section class="center">
    <div class="col-70 margin--m--bottom">
      <h1 class="hero">{{ page.title }}</h1>
      <p class="h4 lead subheader"></p>
    </div>
  </section>
</div>

<div class="container">
  <section class="center">
    <div class="col-33">
      <img src="{{ site.url }}/assets/img/svg/konzept.svg" alt="" height="220">
    </div>
    <div class="col-66">
      <h2 class="h3 text-align--left">Konzept</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam necessitatibus odit earum commodi blanditiis animi accusantium maiores atque asperiores error?
      </p>
    </div>
    <div class="col-33">
      <img src="{{ site.url }}/assets/img/svg/development.svg" alt="" height="220">
    </div>
    <div class="col-66">
      <h2 class="h3 text-align--left">Development &amp; Design</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam necessitatibus odit earum commodi blanditiis animi accusantium maiores atque asperiores error?
      </p>
    </div>
    <div class="col-33">
      <img src="{{ site.url }}/assets/img/svg/charity.svg" alt="" height="220">
    </div>
    <div class="col-66">
      <h2 class="h3 text-align--left">Charity</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam necessitatibus odit earum commodi blanditiis animi accusantium maiores atque asperiores error?
      </p>
    </div>
  </section>
</div>


<footer class="container">
  <section>
    <div class="col-75">
      {% include social.html %}
    </div>
  </section>
</footer>

<div class="container colophon">
  <section>
    <div class="col-75">
      {% include colophon.html %}
    </div>
  </section>
</div>
