/* CSS Reset: http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain) */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Main.css: Real CSS starts here */
:root {
  --yellow: #fad722;
  --blue: #59c3ff;
  --purple: #9759ee;
  --red: #ee5959;
  --white: #fff;
  --lightgrey: #ebebeb;
  --grey: #afafaf;
  --black: #3a3a3a;
  --black-50: rgba(58, 58, 58, 0.5);
  --border-width: 2px;
  --border-radius: 8px;
  --fs-hero: 2.25rem;
  --fs-lead: 1.375rem;
  --fs: 1rem;
  --fs-tiny: 0.875rem;
}

/**
 * BASE
 */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: auto;
  font-size: calc(15px + 0.390625vw);
}

body {
  margin: 0 auto;
  line-height: 1.5;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--black);
}
body.dark {
  background: #111;
  color: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: var(--lightgrey);
  }
}
body.light {
  background: #fff;
  color: var(--black);
}
@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: var(--black);
  }
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid;
  border-color: transparent;
  transition: 0.1s ease;
}
a:hover, a:focus {
  border-color: var(--yellow);
  outline: none;
}
a:active {
  border-color: var(--blue);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.no-br {
  white-space: nowrap;
}

/**
 * ANIMATIONS
 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/**
 * Structure
 */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  padding: 2rem;
  z-index: 1;
}
@media (min-width: 800px) {
  .container {
    padding: 2.5rem;
  }
}
@media (min-width: 1000px) {
  .container {
    padding: 3rem;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 4rem;
  }
}
@media (min-width: 1400px) {
  .container {
    padding: 5rem;
  }
}
.container-big {
  max-width: 74rem;
}

.px {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
@media (min-width: 1000px) {
  .px {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.px-2 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 1000px) {
  .px-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.px-3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 1000px) {
  .px-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.lines-mask {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
}
.lines-mask svg {
  position: relative;
}
.lines-mask svg path {
  transform-origin: 50% 50%;
}
.lines-mask .p1 {
  animation: spin infinite 120s linear;
}
.lines-mask .p2 {
  animation: spin infinite 220s linear;
}
.lines-mask .p3 {
  animation: spin infinite 80s linear;
}
.lines-mask .p4 {
  animation: spin infinite 80s linear reverse;
}
.lines-mask.first-right {
  top: 0;
}
@media (min-width: 800px) {
  .lines-mask.first-right {
    top: -20%;
  }
}
@media (min-width: 1000px) {
  .lines-mask.first-right {
    top: -30%;
  }
}
@media (min-width: 1200px) {
  .lines-mask.first-right {
    top: -40%;
  }
}
.dark .lines-mask.first-right path:not(.p3) {
  stroke: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  .lines-mask.first-right path:not(.p3) {
    stroke: var(--lightgrey);
  }
}
.lines-mask.first-left {
  top: 55vh;
}
.dark .lines-mask.first-left path:not(.p2) {
  stroke: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  .lines-mask.first-left path:not(.p2) {
    stroke: var(--lightgrey);
  }
}
.lines-mask.second-right {
  top: 120vh;
}
@media (min-width: 1200px) {
  .lines-mask.second-right {
    top: 150vh;
  }
}
.dark .lines-mask.second-right path:not(.p2) {
  stroke: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  .lines-mask.second-right path:not(.p2) {
    stroke: var(--lightgrey);
  }
}
.lines-mask.bottom {
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}
@media (min-width: 800px) {
  .lines-mask.bottom {
    bottom: -3rem;
  }
}
@media (min-width: 1000px) {
  .lines-mask.bottom {
    bottom: -4rem;
  }
}
@media (min-width: 1200px) {
  .lines-mask.bottom {
    bottom: -5rem;
  }
}
.dark .lines-mask.bottom path:not(.p2) {
  stroke: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  .lines-mask.bottom path:not(.p2) {
    stroke: var(--lightgrey);
  }
}
.cl--purple {
  color: var(--purple);
}

/**
 * SECTIONS
 */
.section {
  position: relative;
}
@media (min-width: 800px) {
  .section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1000px) {
  .section {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1200px) {
  .section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.section__bg {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: -1;
  opacity: 0.85;
  transition: all 0.3s ease;
  border-radius: var(--border-radius);
}
body.dark .section__bg {
  opacity: 0.9;
}
@media (prefers-color-scheme: dark) {
  .section__bg {
    opacity: 0.9;
  }
}
.section__bg--lightgrey {
  background: linear-gradient(100deg, var(--purple), var(--blue));
}
.section__bg--blue {
  z-index: -2;
  background: linear-gradient(100deg, var(--red), var(--yellow));
}
.section__bg--yellow {
  background: linear-gradient(100deg, var(--blue), var(--purple));
}

.section__text {
  position: relative;
  z-index: 1;
}
.section__text p {
  font-size: var(--fs);
}
@media (min-width: 800px) {
  .section__text p {
    font-size: var(--fs-lead);
  }
}

.section__subline {
  font-weight: bold;
  font-size: var(--fs-lead);
  text-align: center;
}

.section__label {
  display: block;
  font-weight: bold;
  padding: 1rem 0;
  text-align: center;
}
@media (min-width: 1000px) {
  .section__label {
    text-align: left;
  }
}

.header {
  position: relative;
  padding: 10vh 0 5vh;
}
@media (min-width: 1000px) {
  .header {
    padding: 20vh 0 5vh;
  }
}
.header .header-text {
  position: relative;
  z-index: 1;
}
.header .header-text p {
  color: var(--black-50);
}
body.dark .header .header-text p {
  color: var(--grey);
}
@media (prefers-color-scheme: dark) {
  .header .header-text p {
    color: var(--grey);
  }
}
body.light .header .header-text p {
  color: var(--black-50);
}
@media (prefers-color-scheme: light) {
  .header .header-text p {
    color: var(--black-50);
  }
}
.header .header-text strong {
  color: var(--black);
}
body.dark .header .header-text strong {
  color: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  .header .header-text strong {
    color: var(--lightgrey);
  }
}
body.light .header .header-text strong {
  color: var(--black);
}
@media (prefers-color-scheme: light) {
  .header .header-text strong {
    color: var(--black);
  }
}
.header .headline {
  display: inline-block;
  background: linear-gradient(-45deg, var(--purple), var(--red), var(--yellow));
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  animation: gradient 5s ease infinite;
}
@media (min-width: 800px) {
  .header .headline {
    font-size: 4.5rem;
  }
}
@media (min-width: 1000px) {
  .header .headline {
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  .header .headline {
    font-size: 6rem;
  }
}
.header p {
  font-size: var(--fs-lead);
}
@media (min-width: 1000px) {
  .header p {
    font-size: var(--fs-hero);
  }
}
.header p a {
  border-color: var(--yellow);
}
.header p a:hover {
  border-color: var(--red);
}
.header nav {
  position: relative;
  font-size: var(--fz);
  line-height: 2;
  z-index: 1;
}
.header nav p {
  font-size: var(--fz);
}
.header nav li {
  display: block;
  color: inherit;
}
@media (min-width: 500px) {
  .header nav li {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
@media (min-width: 1000px) {
  .header nav li {
    margin-right: 1rem;
  }
}
.header nav a {
  font-weight: bold;
}

.hashtags {
  margin: 2rem 0;
  text-align: center;
}
@media (min-width: 1000px) {
  .hashtags {
    text-align: left;
  }
}
.hashtags li {
  display: inline-block;
  font-style: italic;
  margin-right: 0.5rem;
}
.hashtags li::before {
  content: "#";
}

dl {
  display: block;
  margin: 1rem 0;
}
dl dt {
  display: block;
  font-style: italic;
}
@media (min-width: 600px) {
  dl dt {
    display: inline-block;
    width: 30%;
    text-align: right;
  }
}
dl dd {
  display: block;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  dl dd {
    display: inline-block;
    width: 60%;
    margin-left: 5%;
  }
}

.social-links {
  display: block;
  margin: 2rem 0 0;
  text-align: center;
  font-size: 0.875rem;
}
@media (min-width: 1000px) {
  .social-links {
    text-align: left;
  }
}
.social-links li {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}
@media (min-width: 800px) {
  .social-links li {
    margin-right: 1rem;
  }
}
.social-links li a {
  position: relative;
  display: block;
  vertical-align: middle;
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 8px;
  padding: 0.25rem 0.5rem 0.25rem 2rem;
  letter-spacing: 0.5px;
}
.social-links li img {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
}

.footer {
  position: relative;
  text-align: center;
  margin-bottom: 0;
}
