:root {
  --yellow: #FAD722;
  --blue: rgba(89,195, 255, 1);
  --purple: #9759EE;
  --red: #EE5959;
  --white: #FFF;
  --lightgrey: #EBEBEB;
  --grey: #AFAFAF;
  --black: #3A3A3A;
  --black-50: rgba(58, 58, 58, .5);
}

/**
 * BASE
 */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow: hidden;
  overflow-y: auto;
}
@media (min-width: 500px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 700px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 21px;
  }
}

body {
  margin: 0 auto;
  line-height: 1.5;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--black);
}
body.dark {
  background: #111;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #111;
  }
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid;
  border-color: transparent;
  transition: 0.1s ease;
}
a:hover, a:focus {
  border-color: var(--yellow);
  outline: none;
}
a:active {
  border-color: var(--blue);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.no-br {
  white-space: nowrap;
}

/**
 * ANIMATIONS
 */
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/**
 * Structure
 */
.jail {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 63rem;
  padding: 2rem;
}
@media (min-width: 800px) {
  .jail {
    padding: 3rem;
  }
}
@media (min-width: 1000px) {
  .jail {
    padding: 4rem;
  }
}
@media (min-width: 1200px) {
  .jail {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.jail-big {
  max-width: 74rem;
}

.px {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
@media (min-width: 1000px) {
  .px {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.px-2 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 1000px) {
  .px-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.px-3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 1000px) {
  .px-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.lines-mask {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
}
.lines-mask svg {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.lines-mask svg path {
  transform-origin: 50% 50%;
}
.dark .lines-mask.first-right path:not(.p3) {
  stroke: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  .lines-mask.first-right path:not(.p3) {
    stroke: var(--lightgrey);
  }
}
.lines-mask.first-right .p1 {
  -webkit-animation: spin infinite 120s linear;
          animation: spin infinite 120s linear;
}
.lines-mask.first-right .p2 {
  -webkit-animation: spin infinite 220s linear;
          animation: spin infinite 220s linear;
}
.lines-mask.first-right .p3 {
  -webkit-animation: spin infinite 80s linear;
          animation: spin infinite 80s linear;
}
.lines-mask.first-right .p4 {
  animation: spin infinite 80s linear reverse;
}
.lines-mask.first-left {
  top: 50vh;
  left: -200px;
}
@media (min-width: 1000px) {
  .lines-mask.first-left {
    top: 40vh;
    left: 0;
  }
}
.lines-mask.first-left path {
  transform-origin: 50% 50%;
}
.dark .lines-mask.first-left path:not(.p2) {
  stroke: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  .lines-mask.first-left path:not(.p2) {
    stroke: var(--lightgrey);
  }
}
.lines-mask.first-left .p1 {
  -webkit-animation: spin infinite 120s linear;
          animation: spin infinite 120s linear;
}
.lines-mask.first-left .p2 {
  animation: spin infinite 220s linear reverse;
}
.lines-mask.first-left .p3 {
  -webkit-animation: spin infinite 80s linear;
          animation: spin infinite 80s linear;
}
.lines-mask.bottom {
  display: none;
  width: 1034px;
  height: 792px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1000px) {
  .lines-mask.bottom {
    display: block;
    top: 0;
  }
}
.lines-mask.bottom path {
  transform-origin: 50% 50%;
}
.dark .lines-mask.bottom path:not(.p2) {
  stroke: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  .lines-mask.bottom path:not(.p2) {
    stroke: var(--lightgrey);
  }
}
.lines-mask.bottom .p1 {
  -webkit-animation: spin infinite 120s linear;
          animation: spin infinite 120s linear;
}
.lines-mask.bottom .p2 {
  -webkit-animation: spin infinite 80s linear;
          animation: spin infinite 80s linear;
}
.lines-mask.bottom .p3 {
  animation: spin infinite 120s linear reverse;
}
.bg {
  position: absolute;
  top: -2rem;
  left: -1rem;
  right: -1rem;
  bottom: -2rem;
  z-index: -1;
  opacity: 0.9;
  transition: all 0.3s ease;
  border-radius: 8px;
}
@media (min-width: 800px) {
  .bg {
    top: -2rem;
    left: -2rem;
    right: -2rem;
    bottom: -2rem;
  }
}
.bg-lightgrey {
  background: var(--lightgrey);
  transform: rotate(3deg);
}
.bg-blue {
  z-index: -2;
  background: var(--blue);
  transform: rotate(-3deg);
}
.bg-yellow {
  background: var(--yellow);
  transform: rotate(3deg);
}
.bg-purple {
  z-index: -2;
  background: var(--purple);
  transform: rotate(-3deg);
}

.cl-purple {
  color: var(--purple);
}

.darkmode-toggle {
  position: fixed;
  top: 0.25rem;
  left: 0.25rem;
  z-index: 1;
  border-bottom: none;
  border-radius: 50%;
  border: 2px solid var(--lightgrey);
  padding: 0.5em;
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
}
.dark .darkmode-toggle {
  border-color: var(--grey);
}
@media (prefers-color-scheme: dark) {
  .darkmode-toggle {
    border-color: var(--grey);
  }
}
.darkmode-toggle:active {
  border-color: var(--lightgrey);
}

.section {
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 800px) {
  .section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1000px) {
  .section {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

/**
 * SECTIONS
 */
.header {
  position: relative;
  padding: 20vh 0 5vh;
}
.header .header-text {
  position: relative;
  z-index: 1;
}
.header .headline {
  display: inline-block;
  background: linear-gradient(-45deg, var(--purple), var(--red), var(--yellow));
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}
@media (min-width: 800px) {
  .header .headline {
    font-size: 6rem;
  }
}
.header p {
  font-size: 1.375rem;
  color: var(--black-50);
}
body.dark .header p {
  color: var(--grey);
}
@media (prefers-color-scheme: dark) {
  .header p {
    color: var(--grey);
  }
}
@media (min-width: 800px) {
  .header p {
    font-size: 2.25rem;
  }
}
.header p strong {
  color: var(--black);
}
body.dark .header p strong {
  color: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  .header p strong {
    color: var(--lightgrey);
  }
}
.header p a {
  border-color: var(--yellow);
}
.header p a:hover {
  border-color: var(--red);
}
.header nav {
  font-size: 1rem;
}
.header nav p {
  font-size: inherit;
}
.header nav li {
  display: inline-block;
  margin-right: 1rem;
  color: var(--black);
}
body.dark .header nav li {
  color: var(--lightgrey);
}
@media (prefers-color-scheme: dark) {
  .header nav li {
    color: var(--lightgrey);
  }
}
.header nav a {
  font-weight: bold;
}

.section-text {
  position: relative;
  z-index: 1;
}
.section-text h2 {
  font-size: 1.375rem;
}
.section-text p {
  font-size: 1rem;
}
@media (min-width: 800px) {
  .section-text p {
    font-size: 1.375rem;
  }
}

.hashtags {
  margin: 2rem 0;
  color: var(--black-50);
}
.hashtags li {
  display: inline-block;
  font-style: italic;
  margin-right: 0.5rem;
}
.hashtags li::before {
  content: "#";
}

dl {
  display: block;
  margin: 1rem 0;
}
dl dt {
  display: inline-block;
  width: 15%;
  text-align: right;
  color: var(--black-50);
  font-style: italic;
}
dl dd {
  display: inline-block;
  width: 70%;
  margin-left: 5%;
  margin-bottom: 1rem;
}

.section-label {
  display: block;
  font-weight: bold;
  padding: 1rem 0;
  color: var(--black);
}

.social-links {
  display: block;
  margin: 2rem 0 0;
}
.social-links li {
  display: inline-block;
  margin-right: 1rem;
}
.social-links li img {
  vertical-align: top;
}

.footer {
  position: relative;
  text-align: center;
  color: var(--white);
}
