@import "animate.min";
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";

/* Reset
-------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 Hack for Oldtimers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
    display: block;
}
ol, ul {
    list-style: none;
}


/* Structure
-------------------------------------------------------------- */

html {
    -webkit-font-smoothing: antialiased;
    height: 100%;
}
body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    padding: 0 25px 20px;
    line-height: 1;
    font-size: 100%;
}

.site {
    margin: 0 auto;
    max-width: 750px;
}

a{
    text-decoration: none;
    -webkit-transition: color .25s;
    transition: color .25s;
}
/* Header
-------------------------------------------------------------- */
.header{
    width: 76%;
    margin-top:80px;
}
.header h1{
    font-size: 50px;
    font-size: 3.125rem;
    margin:0 0;
    font-weight: bold;
}
.header h2{
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 2rem;
    margin:20px 0;
    font-family: 'Lato','Helvetica Neue',Helvetica, Arial sans-serif;
    font-weight:400;
}
.header h3{
    padding-top:20px;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 2.8rem;
    font-family: 'Lato','Helvetica Neue',Helvetica, Arial sans-serif;
    font-weight:400;
}

.header p{
    font-size: 16px;
    font-size: 1rem;
    line-height: 2.125rem;
    padding-top:40px;
    padding-bottom: 10px;
}
/* Footer
 -------------------------------------------------------------- */
footer {
    padding: 20px 0 0;
    font-size:12px;
    font-size:0.8rem;
}
footer a{
    text-decoration: none;
}
footer p {
    display: inline;
    line-height: 1.7em;
}

/* Clearfix
---------------------------------------------------------------*/
.cf:before,
.cf:after {
    content: ' ';
    display: table;
}
.cf:after {
    clear: both;
}

/* RESPONSIVE
-------------------------------------------------------------- */
@media only screen and (max-width : 600px) {
    
    .header{
        width: 100%;
        margin-top:40px;
    }
    .header h1{
        font-size: 30px;
    }
    .header h2{
        font-size: 20px;
    }
    .header h3{
        font-size: 23px;
        font-size: 1.4375rem;
        line-height: 35px;
        line-height: 2.1875rem;
    }
    .header p{
        line-height: 1.8rem;
    }
}
