
/**
 * HEADER
 */
header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  //background: rgba($primary,1);
  border-bottom: 1px solid rgba(255,255,255, .1);

  @media (min-width: $bp-xs){
    text-align: left;
  }

  .nav--fixed &{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    text-align: center;
    background: rgba($primary,.9);
    //border-bottom: .2em solid rgba($grey,.1);

    &.js-active{
      display: block;
    }

    .brand{
      padding: 1.5rem 0 .5rem;
      @media (min-width: $bp-xs){
        padding: .7rem 0;
      }
      svg,.slogan{
        fill: white; //rgba(white,.7); //rgba($grey,.5);
        color: white; //rgba(white,.7); //rgba($grey,.5);
      }
    }
    nav{
      padding: 1.25rem 0;
      a{
        color: rgba(white,.7); //rgba($grey,.5);
        &:hover,
        &.active{
          color: white; //$grey;
        }
      }
    }
  }
}

/**
 * BRAND
 */
.brand{
  display: block;
  margin: 0 auto;
  padding: 1.5rem 0 .5rem;
  text-decoration: none;

  @media (min-width: $bp-xs){
    display: inline-block;
    float: left;
    padding: 2rem 0;
  }

  &:hover svg{
    transform: rotate(5deg);
    fill: rgba(white,.9);
  }

  svg{
    display: inline;
    width: 3rem;
    vertical-align: middle;
    fill: white;
    transition: all .5s ease;

    @media (min-width: $bp-xs){
      display: inline-block;
    }
  }
  .slogan{
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    //font-weight: bold;
    padding: 0 0 0 .3em;
    letter-spacing: .02em;
    vertical-align: middle;
    span{
      font-weight: bold;
    }
  }
}

/**
 * NAVIGATION
 */
nav{
  padding: 1rem 0;
  display: block;

  @media (min-width: $bp-xs){
    display: inline-block;
    float: right;
    padding: 2.5rem 0;
  }

  ul{
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li{
    display: inline-block;

    @media (min-width: $bp-xs){
      margin: 0;
    }
    @media (min-width: $bp-medium){
      margin: 0 .8rem 0 0;
    }

    a{
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 .3em;
      color: rgba(white,.6);
      font-size: .9rem;
      font-weight: bold;
      letter-spacing: 1px;
      transition: .2s color linear;

      @media (min-width: $bp-small){
        font-size: 1rem;
        padding: 0 .6em;
      }

      &:hover,
      &.active{
        color: white;
      }

      .blogpost & {
        color: $primary;

          &:hover,
          &.active{
            color: #333;
          }
      }
    }
  }
}

/**
 * INTRO
 */
.no-intro{
    margin-top: 8rem;
    @media (min-width: $bp-small){
        margin-top: 10rem;
    }
}
.intro{
  background: $primary; // url('../img/bg/coffee.jpg') no-repeat center center;
  background-image: linear-gradient(to bottom, $primary, desaturate(darken($primary,5%),20%) );
  background-size: cover;
  padding: 10rem 0 2rem;
  color: white;
  text-align: center;

  @media (min-width: $bp-xs){
    padding: 8rem 0 2rem;
  }

  @media (min-width: $bp-small){
      padding: 10rem 0 6rem;
      padding: 15vh 0 8vh;
  }

  @media (min-width: $bp-medium){
      padding: 17rem 0 12rem;
      padding: 28vh 0 19vh;
  }

  svg{
    display: inline;
    display: none;
    width: 5rem;
    margin: 0 0 10vh 0;
    vertical-align: middle;
    fill: rgba(white,.9);
    transition: all .2s linear;

    @media (min-width: $bp-small){
      width: 10rem;
    }

    &:hover{
      //transform: scale(1.2) rotate(15deg);
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  p{
    display: inline-block;
    color: rgba(white,.9);
    // background: rgba(black,.6);
    // padding: .1em .2em;
  }
  .col{
    @extend .col-75;
    text-align: center;
  }
}

.bg{
  background-size: cover;
}
