{% include header.html %}

<article itemscope itemtype="http://schema.org/BlogPosting" role="main">

  <div class="intro bg" {% if page.cover %}style="background: url(/assets/img/cover/{{ page.cover }}) no-repeat center center; background-size: cover;"{% endif %}>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 itemprop="name headline">{{ page.title }}</h1>
          {% if page.excerpt %}
            <p class="lead" itemprop="description">
              {{ page.excerpt }}
            </p>
          {% endif %}
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!--.container-->
  </div><!--.intro-->

  <main class="content">

    <div class="blogControl">
      <div class="container">
        <ul>
          <li><a href="{{ site.url }}/blog" class="backToBlog"> <i class="fa fa-list-ul"></i> Back</a></li>
          <li><span itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date_to_string }}</span></li>
        </ul>
      </div><!-- .container -->
    </div><!-- .blogControl -->


  {{ content }}


  <div class="blogControl blogControl--bottom">
    <div class="container">
      <ul>
        <li><a href="{{ site.url }}/blog" class="backToBlog"> <i class="fa fa-list-ul"></i> Back</a></li>
        <li><a href="blogpost.html">Nächster Blogpost:</a></li>
      </ul>
    </div><!-- .container -->
  </div><!-- .blogControl -->

</main><!--.content-->

</article>

{% include footer.html %}
